*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
   
}

.main{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
td{
    border: 1px solid black;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    font-weight: 700;
    
}

.background{

    background-color: rgb(79, 83, 83);
}
.background-img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    filter: grayscale(10%);
    opacity: 0.6;
    
}
.box{
  
    position: absolute;
    padding: 10% ;
    display: flex;
    justify-content:center;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color: rgba(54, 53, 53, 0.219);
    color: rgb(4, 5, 5);
    
}
.left{

    height: 400px;
    width: 290px;
}
.Button{
    width: 86%;
    margin-left: 20px;
    margin-top: 20px;
    height: 39px;
    font-size: 20px;
    background-color: rgba(27, 26, 26, 0.856);
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    color: white;
   
}
.Button:hover{
    background-color: rgba(78, 78, 78, 0.856);
}
.book-1 , .book-2 , .book-3,.book-4,.book-5{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 4px;

}
label{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
input{
    width: 250px;
    height: 40px;
    border: 2px solid rgb(8, 8, 8);
    color: #0f0f0f;
    font-size: 16px;
    padding-left: 6px;
}
.right{
    height: 400px;
    width: 300px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 2px solid black;
}
@media (max-width : 600px) {

    .box{
        flex-direction: column;
   

    }
    .box{
       padding-top: 40px;
       margin-left: 30px;
    }
    .left{
       padding-top: 60px;
    }
    .right{
        margin-top: 130px;
        height: 100%;
    }
.background-img{
    display: none;
}
.Button{
    width: 70%;
    margin-left: 30px;
}
input{
    width: 230px;
}
td{
    padding: 4px;
}
}